* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.container {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    height: 500px;
}

.hero {
    display: flex;
    justify-content: center;
    height: 400px;
    width: 1200px;  
}

/* Columnes left and right  */
.column1 {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.column2 {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

/* Box in column1 */
.logotext {
    display: flex;
    height: 50px;
    align-items: center;
    margin-bottom: 90px;
    color: #f9faf8;
    font-size: 24px;  
    font-weight: bold;
}

/* Box in column2 */
.links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    margin-bottom: 90px;
    gap: 16px;
}

ul a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    align-items: center;
}

/* Box in column1 */
.herotext {
    display: flex;
    flex-direction: column;
    height: 225px;
    width: 475px;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
}
.herotext p {
    color: #e5e7eb;
    font-size: 18px;
}

.button {
    border: none;
    background-color: #3882f6;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    height: 35px;
    width: 130px;
    padding: 5px;
    margin-top: 10px;
    cursor: pointer;
  }

  /* Box in column2 */
.heroimg {
    display: flex;
    height: 225px;
    width: 475px;
    background-color: #908f8f;
    
}
/* ----------------------------------------------------------------- */
/* Container2 css */
.container2 { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    height: 400px;
}
    
/* flexbox for header */
.infoheader {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 40px;
}

/* header font in .container2 */
.infoheader h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

/* flexbox container for images */
.imagebox {
    display: flex;
    justify-content: space-between;
    height: 260px;
    margin-left: 300px;
    margin-right: 300px;
}

/* image boarders */
.imgbox {
    height: 160px;
    width: 160px;
    border: solid 4px #3882f6;
    border-radius: 16px;
}

/* image textbox */
.imgboxtext {
    display: flex;
    flex-direction: column;
    height: 220px;
    width: 160;
}

/* image font and alignment */
.imgboxtext p {
    text-align: center;
    width: 160px;
    padding-top: 5px;
    color: #868686;
    font-size: 18px;
}

/* Container3 css */

.container3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    height: 400px;
}

.quote {
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #868686;
    height: 170px;
    width: 800px;
}

.quoteauthor {
    display: flex;
    justify-content: flex-end;
    font-size: 26px;
    font-weight: 900;
    width: 800px;
}

/* container4 */

.container4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 300px;
}
/* signup box with elements signuptext and signupbutton */
.boxsignup {
    display: flex;
    justify-content: space-around;
    background-color: #3882f6;
    height: 130px;
    width: 900px;
    border-radius: 16px;
}

.signuptext {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    padding-left: 130px;
}

.boxsignup p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #e5e7eb;
}

.boxsignup h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
}

.signupbutton {
    display: flex;
    align-items: center;
    padding-right: 110px;
}

.signupbutton .button {
    border: solid #ffffff;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    height: 100px;
}

.footer p {
    color: #e5e7eb;
    font-size: 18px;
}