* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.container {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    height: 500px
}

.hero {
    display: flex;
    justify-content: center;
    height: 400px;
    width: 1200px;  
}

/* Columnes left and right  */
.column1 {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.column2 {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

/* Box in column1 */
.logotext {
    display: flex;
    height: 50px;
    align-items: center;
    margin-bottom: 90px;
    color: #f9faf8;
    font-size: 24px;  
    font-weight: bold;
}

/* Box in column2 */
.links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    margin-bottom: 90px;
    gap: 16px;
}

ul a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    align-items: center;
}

/* Box in column1 */
.herotext {
    display: flex;
    flex-direction: column;
    height: 225px;
    width: 475px;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
}
.herotext p {
    color: #e5e7eb;
    font-size: 18px;
}

.button {
    border: none;
    background-color: #3882f6;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    height: 35px;
    width: 130px;
    padding: 5px;
    margin-top: 10px;
    cursor: pointer;
  }

  /* Box in column2 */
.heroimg {
    display: flex;
    height: 225px;
    width: 475px;
    background-color: #908f8f;
    
}
/* ----------------------------------------------------------------- */
/* Container2 css */
.container2 { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    height: 400px;
    border: solid rebeccapurple;

}
    

.infoheader {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 40px;

    
    border: solid red;
}

h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.imagebox {
    display: flex;
    justify-content: space-between;
    height: 260px;
    margin-left: 300px;
    margin-right: 300px;
    
    border: solid blue;
}

.imgbox {
    height: 160px;
    width: 160px;
    border: solid 4px #3882f6;
    border-radius: 16px;
}

.imgboxtext {
    display: flex;
    flex-direction: column;

    height: 220px;
    width: 160;
    border: solid greenyellow;

}

.imgboxtext p {
    border: solid purple;

    text-align: center;
    width: 160px;
    padding-top: 5px;
    color: #868686;
    font-size: 18px;
    
}





